*.pyc
*.tar
PS-MCNN_1\.1/checkpoints_2020-02-17_10-30-07/

PS-MCNN_1\.1/checkpoints_2020-02-17_10-30-24/

PS-MCNN_1\.1/checkpoints_2020-02-17_23-14-10/

PS-MCNN_1\.1/checkpoints_2020-02-18_00-05-39/

PS-MCNN_1\.1/utils/

*/.vscode/
*/_pycache_/
*/checkpoints_*/
*.json
*/only*/

PS-MCNN_1\.1/models/__pycache__/

PS-MCNN_1\.1/pretrained-t/

PS-MCNN_1\.1/spre-2/

PS-MCNN_1\.1/pretrained-s-2/

*.ckpt

PS-MCNN_1\.1/only_val_0_c_yes_no_1_64_5e-04_step_no_4t-pre_1st/

PS-MCNN_1\.1/only_val_14_c_yes_no_10_64_5e-04_step_no_4t-pre_1st/

PS-MCNN_1\.1/pretrained-t-no3x3/
